<h1>Portfolio Items</h1>

<% @folio_items.each do |i|%>
    <p><%= i.title%></p>
    <p><%= i.subtitle%></p>
    <p><%= i.body%></p>
    <%= image_tag i.thumb_image unless i.thumb_image.nil? %>
<% end %>