<h1>Portfolio Items</h1>

<% @folio_items.each do |i|%>
    <p>
        <%= i.title%>
        <%= i.subtitle%>
        <%= i.body%>
        <br/>
        <%= image_tag i.thumb_image %>
    </p>
<% end %>